body {
    font-family: "Calibri Light";
    background:#f5f2f0;
}


input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #f4b251;
    color: white;
    padding: 10px 15px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    width: 80%;
    display: block;
    margin: 0 auto 5px;
}

button:hover {
    background-color: coral;
}

.main-content {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 30px;
    width: 1000px;
}

.main-content h2 {
    font-size: 26px;
    color: #a4485e;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-content p {
    font-size: 16px;
    color: #a4485e;
    margin-bottom: 20px;
    font-weight: bold;
}

.container{
    justify-content: vertical;
    margin-top: 5%;
    margin-left : 10%;
    position: relative;
    margin-bottom: 100px;
    width: 1250px;
    flex-direction: column;
    align-items: center;
}

#about{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #a4485e;
    margin: 80px;
}




